.button {
    margin-top: 10px;
    margin-left: 5px;
    background-color: rgb(208, 233, 225);
    border-radius: 5%;
    text-align: center;
	font-size: 24px;
}

.input {
    margin-top: 10px;
    margin-left: 5px;
    background-color: white;
    text-align: left;
	font-size: 24px;
}